<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<div th:fragment="footer" class="main_bot row" id="NSK_font">
    <div class="bicon col" id="div_g"><img class="bimg" src="/static/image/가슴.png"><br>가슴</div>
    <div class="bicon col" id="div_u"><img class="bimg" src="/static/image/어깨.png"><br>어깨</div>
    <div class="bicon col" id="div_d"><img class="bimg" src="/static/image/등.png"><br>등</div>
    <div class="bicon col" id="div_p"><img class="bimg" src="/static/image/팔.png"><br>팔</div>
</div>

</body>
</html>