<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Arm</title>
</head>
<body>
<div th:fragment="armFragement" class="div_p">
    <table class="mid_bot_table" id="NSK_font">
        <tr>
            <td>
                <img class="mbimg imgInfo" src="image/암컬.png" >
            </td>
            <td>
                <img class="mbimg" src="image/오버헤드 트라이셉스 익스텐션.png">
            </td>
        </tr>
        <tr>
            <td class="tate">암 컬</td>
            <td class="tate">오버헤드 트라이셉스 익스텐션</td>
        </tr>
        <tr><td class="tate2"></td></tr>
        <tr>
            <td>
                <img class="mbimg" src="image/바벨 컬.png">
            </td>
            <td>
                <img class="mbimg" src="image/라잉 트라이셉스 익스텐션.png">
            </td>
        </tr>
        <tr>
            <td class="tate">바벨 컬</td>
            <td class="tate">라잉 트라이셉스 익스텐션</td>
        </tr>
        <tr><td class="tate2"></td></tr>
        <tr>
            <td>
                <img id="mbimg" class="mbimg" src="image/덤벨 컬.png" >
            </td>
            <td>
                <img class="mbimg" src="image/프리처컬벤치.png">
            </td>
        </tr>
        <tr>
            <td class="tate">덤벨 컬</td>
            <td class="tate">프리처 컬 벤치</td>
        </tr>
    </table>
</div>

</body>
</html>