<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chest</title>
</head>
<body>
    <div th:fragment="chestFragment" class="div_g2">
        <table class="mid_bot_table" id="NSK_font">
            <tr>
                <td>
                    <img id="mbimg" class="mbimg" src="image/스탠딩플라이체스트백.png" >
                </td>
                <td>
                    <img class="mbimg" src="image/시티드체스트프레스.png">
                </td>
            </tr>
            <tr>
                <td class="tate">스탠딩 플라이 체스트&백 </td>
                <td class="tate">시티드 체스트 프레스</td>
            </tr>
            <tr><td class="tate2"></td></tr>
            <tr>
                <td>
                    <img class="mbimg" src="image/인클라인체스트프레스.png">
                </td>
                <td>
                    <img id = "mbimg2" class="mbimg" src="image/펙덱플라이.png">
                </td>
            </tr>
            <tr>
                <td class="tate">인클라인 체스트 프레스</td>
                <td class="tate">체스트 플라이</td>
            </tr>
            <tr><td class="tate2"></td></tr>
            <tr>
                <td>
                    <img id="mbimg" class="mbimg" src="image/해머플렛벤치.png" >
                </td>
                <td>
                    <img class="mbimg" src="image/해머디크라인벤치.png">
                </td>
            </tr>
            <tr>
                <td  class="tate">해머 플렛 벤치</td>
                <td  class="tate">해머 디크라인 벤치</td>
            </tr>
        </table>
    </div>
</body>
</html>