<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Shoulder</title>
</head>
<body>
<div th:fragment="shoulderFragment" class="div_u2">
    <table class="mid_bot_table" id="NSK_font">
        <tr>
            <td>
                <img id="mbimg3" class="mbimg" src="/image/덤벨 솔더프레스.png" >
            </td>
            <td>
                <img class="mbimg" src="/image/레터럴레이즈.png">
            </td>
        </tr>
        <tr>
            <td  class="tate">덤벨 숄더프레스</td>
            <td  class="tate">레터럴 레이즈</td>
        </tr>
        <tr><td class="tate2"></td><td></td></tr>
        <tr>
            <td>
                <img class="mbimg" src="/image/스탠딩레터럴레이즈.png">
            </td>
            <td>
                <img class="mbimg" src="/image/시티드딥.png">
            </td>
        </tr>
        <tr>
            <td  class="tate">스탠딩 레터럴 레이즈</td>
            <td  class="tate">시티드 딥</td>
        </tr>
        <tr><td class="tate2"></td><td></td></tr>
        <tr>
            <td>
                <img id="mbimg" class="mbimg" src="/image/스미스수직형.png" >
            </td>
            <td>
                <img class="mbimg" src="/image/벤트오버레터럴레이즈.png">
            </td>
        </tr>
        <tr>
            <td  class="tate">스미스 (수직형)</td>
            <td  class="tate">벤트오버 레터럴 레이즈</td>
        </tr>
    </table>
</div>
</body>
</html>