html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#NSK_font{
    font-family: 'Noto Sans KR', sans-serif;
}

.modal_wrap{
    /* display: none; */
    width: 585px;
    height: 1280px;
    position: relative;
    left: 50%;
    /*      top:10%;
            margin: -254px 0 0 -236px; */
    background:#FFFFFF;
    /*      z-index: 2; */
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.black_bg{
    /* display: none; */
    position: fixed;
    content: "";
    width: 100%;
    height: 100vh;
    background-color:rgba(218, 215, 216, 0.5);
    top:0;
    left: 0;
    z-index: 1000;

    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}
.modal_main{
    position: absolute;
    top: 53%;
    left: 52%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);

    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
}

.show1 {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}

.show1 .modal_main {
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.record_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(218, 215, 216, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}

.record_wrap{
    display: none;
    width: 90%;
    height: 93%;
    position: absolute;
    top:13%;
    left: 25%;
    margin: -254px 0 0 -236px;
    background:#FFFFFF;
    z-index: 2;
    border-radius:5em;
    overflow: auto;
}
.record_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 108%;
    background-color:rgba(218, 215, 216, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}

#modal_btn{
    position:relative;
    top:20%;
}

.modal_top{
    width:100%;
    height:30%;
    text-align: center;
}

.modal_top_left{
    font-size: 50px;
    width: 40%;
    height: 30%;
    float: left;
    top: 56px;
    margin-bottom: 40px;
    text-align: right;
}

.modal_top_right{
    font-size: 40px;
    width: 55%;
    height: 44%;
    float: right;
    text-align: left;
    top: 6%;
    margin-bottom: 20px;
}

.modal_mid{
    width:100%;
    height:60%;
    font-size:50px;
    text-align: center;
    /* margin-top: -60px; */
}

.modal_mid_mid{
    height:20%;
    /* padding: 0px 30px 0px 0px; */
}

#modal_mid_b{
    text-align: center;
    font-size:40px;
}

.modal_mid_left{
    width:40%;
    height:100%;
    float:left;
    text-align: right;
}

.modal_mid_right{
    width:55%;
    height:100%;
    float:right;
    text-align: left;
}

#moicon{
    width: 130px;
    height: 130px;
}

.modal_bot{
    width:100%;
    height:10%;
    font-size:40px;
    text-align: center;
}

.user_wrap{
    display: none;
    width: 35%;
    height: 40%;
    position: absolute;
    top:35%;
    left: 85%;
    margin: -254px 0 0 -236px;
    background:#FFFFFF;
    z-index: 3;
    border-top-left-radius: 5em;
    border-bottom-left-radius: 5em;
}
.user_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(218, 215, 216, 0.5);
    top:0;
    left: 0;
    z-index: 2;
}

.user_top{
    width:100%;
    height:20%;
    text-align: center;
}

.user_button{
    width:250px;
    height:150px;
    background-color: #DCC3C3;
    border: none;
    color:#635858;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 40px;
    cursor: pointer;
    position: relative;
    top: 30px;
    left:10px;
    border-radius:10px;
    font-size:60px;
    font-weight: 600;
}

.main_map {
    width:100%;
    height:100%;
    background-color : #F1F2F6;
}

.main_top {
    width:100%;
    height:8%;
    color:#362222;
}

.top_left{
    float:left;
    width:80%;
    height:100%;
}

.top_right{
    float:right;
    width:20%;
    height:100%;
}

.main_top {
    width:100%;
    height:8%;
    color:#362222;
}

.main_mid {
    width:100%;
    height:10%;
}

.mid_text{
    display: inline-block;
    margin-top: 50px;
}

#value{
    text-align: center;
    border-radius:40px;
    background-color:#F1F2F6;
    font-weight:bolder;
    appearance:none;
    width:400px;
    height:100px;
    font-size:50px;
    font-family:Regular;
}

.main_bot {
    width:100%;
    height:80%;
    text-align: center;
}

.bot_view{
    display:inline-block;
    text-align: center;
    width:95%;
    height:95%;
    background-color:white;
    border-radius:100px;
    border: 5px solid #BDBDBF;
}

#bot_user{
    font-size:50px;
    border-top: 5px solid #BDBDBF;
    height:7%;
}

.bot_user_left{
    width:65%;
    height:100%;
    float:left;
}

.bot_user_right{
    width:33%;
    height:100%;
    float:right;
    text-align: left;
}

.bot_userlib1{
    width:100%;
    height:5%;
}

.bot_userlib2{
    width:100%;
    height:5%;
    border-top: 5px solid #BDBDBF;
}

#user_b{
    position: relative;
    top: 30px;
}

.user_yess{
    width:130px;
    height:80px;
    background-color: #DCC3C3;
    border: none;
    color:#635858;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    position: relative;
    top: 20px;
    border-radius:10px;
    font-size:40px;
    font-weight: 600;
}

.user_no{
    width:130px;
    height:80px;
    background-color: #DCC3C3;
    border: none;
    color:#635858;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    position: relative;
    top: 20px;
    border-radius:10px;
    font-size:40px;
    font-weight: 600;
}

h1{
    position:relative;
    left:-10%;
    top:-5%;
    font-size:80px;
}

#modal_btn{
    position:relative;
    top:20%;
}

.main_top {
    width:100%;
    height:8%;
    background-color:#FFFFFF;
}
