
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.black_bg{
    /* display: none; */
    position: fixed;
    content: "";
    width: 100%;
    height: 107vh;
    background-color:rgba(218, 215, 216, 0.5);
    top:0;
    left: 0;
    z-index: 1000;

    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}

.modal_wrap{
    /* display: none; */
    width: 50%;
    height: 43%;
    position: relative;
    left: 50%;
    /*      top:10%;
            margin: -254px 0 0 -236px; */
    background:#FFFFFF;
    /*      z-index: 2; */
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.modal_main{
    position: absolute;
    top: 53%;
    left: 52%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);

    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
}

.show1 {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}

.show1 .modal_main {
    transform: translate(-50%, -50%);
    transition: all .5s;
}

/* .record_p, .record_g, .record_b, .record_d, .record_u */
.record_wrap{
    display: none;
    width: 90%;
    height: 54%;
    position: absolute;
    top:28%;
    left: 25%;
    margin: -254px 0 0 -236px;
    background:#FFFFFF;
    z-index: 2;
    border-radius:2em;
}
.record_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(218, 215, 216, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}

/*        .diary_wrap{
        display: none;
        width: 100%;
        height: 30%;
        position: absolute;
        top:26.3%;
        left: 20%;
        margin: -254px 0 0 -236px;
        background:#FFFFFF;
        z-index: 2;
         border-radius:5em;
    }
    .diary_bg{
        display: none;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color:rgba(218, 215, 216, 0.5);
        top:0;
        left: 0;
        z-index: 1;
    } */


.modal_top{
    width:100%;
    height:30%;
    text-align: center;
    font-weight: bold;
    margin-top: 20%;
}

.modal_top_left{
    font-size: 50px;
    width: 40%;
    height: 50%;
    float: left;
    top: 56px;
    margin-bottom: 40px;
    text-align: right;
}

.modal_top_right{
    font-size: 40px;
    width: 55%;
    height: 64%;
    float: right;
    text-align: left;
    top: 6%;
    margin-bottom: 20px;
}

.modal_mid{
    width:100%;
    height:60%;
    font-size:50px;
    text-align: center;
    margin-top: 100%;
}

.modal_mid_mid{
    height:24%;
    padding: 0px 30px 0px 0px;
}

#modal_mid_b{
    text-align: center;
    font-size:40px;
}

.modal_mid_left{
    width:40%;
    height:100%;
    float:left;
    text-align: right;
}

.modal_mid_right{
    width:55%;
    height:100%;
    float:right;
    text-align: left;
}

#moicon{
    width: 130px;
    height: 130px;
}

.modal_bot{
    width:100%;
    height:10%;
    font-size:40px;
    text-align: center;
}

.main_top {
    width:100%;
    height:8%;
    background-color : white;
}

.top_left{
    float:left;
    width:80%;
    height:100%;
}

#modal_btn{
    position:relative;
    top:20%;
}

.top_right{
    position:relative;
    float:right;
    width:20%;
    height:100%;
}


#NSK_font{
    font-family: 'Noto Sans KR', sans-serif;
}

#record{
    width : 530px;
    position:relative;
    font-size:70px;
    font-family:Regular;
    font-weight:bolder;
    right:-15%;
}

/*    select{
   position:relative;
   border-radius:40px;
   font-weight:bolder;
   appearance:none;
   right:-20%;
   } */

.diary_top{
    height: 100%;
}

#diary_btn{
    position: absolute;
    right: 3%;
    top: 9.5%;
}


#button{
    background-color: white;
    width:450px;
    height:300px;
}
input{
    font-size:50px;
    text-align: center;
}

#mid{
    border-spacing: 50px;
    border-collapse: separate;
    filter : drop-shadow(0 0 0 white);
}


#training{
    filter : opacity(.5) drop-shadow(0 0 0 gray);
    top: 110px;
    right: 40px;
    position: relative;
}

#videioTrainging{
    filter : opacity(.5) drop-shadow(0 0 0 gray);
    top: 110px;
    left: 40px;
    position: relative;
}

#button_gym{
    border: none;
    /* position: absolute;
    top : 84%;
    left : 34%; */
}


hr{
    position:relative;
    width:98%;
    filter : opacity(.5) drop-shadow(0 0 0 gray);
}

#record_top_title{
    font-size:100px;
    font-weight:bolder;
    padding: 50px 50px 50px 50px;
}

#record_middle_content{
    position:relative;
    top:15%;
}

#video{
    position:relative;
    width:1000px;
    height:800px;
    left:0%;
}

#bottom1{
    border-spacing: 50px;
    border-collapse: separate;
}

#bottom2{
    border-spacing: 50px;
    border-collapse: separate;
}

a{
    font-size:50px;
    font-family:Regular;
    font-weight:bolder;
}

.ttleft{
    font-size: 50px;
    font-family: Regular;
    font-weight: bolder;
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 40px;
    padding-left: 50px;
}
.ttright{
    font-size: 50px;
    font-family: Regular;
    font-weight: bolder;
    width: 50%;
    height: 100%;
    float: right;
    text-align: right;
    padding-right: 0px;
}

#out{
    width: 150px;
}

b{
    font-size:80px;
}

h1{
    position:relative;
    left:-10%;
    top: -5%;
}

h2{
    position:relative;

}

.middle{
    background-color:#F1F2F6;
}

.d{
    padding: 50px 0px 0px 0px;
}

.main_map {
    width:107%;
    height:107%;
    background-color : #F1F2F6;
}

.main_mid {
    width:100%;
    height:70%;
    /* border-bottom: 20px solid #DACDF5; */
    /** background-color:red;
    float:left; **/}

.mid_top{
    width:100%;
}

.mid_bot{
    width:100%;
    /* height:90%; */
}

#record_video0, #record_video1, #record_video2,
#record_video5, #record_video4, #record_video3,
#record_video6, #record_video7, #record_video8{
    width: 450px;
    height: 450px;
}
.main_bot {
    width:100%;
    height:20%;
    background-color : #F1F2F6;
    text-align: center;
    padding-top: 30%;
}
.calender{

}
.hide{
    height: 300px;
}

#exercise{
    width:400px;
    height:100px;
    font-size:50px;
    font-family:Regular;
    margin-left: 41%;
}



.item {
    width: 450px;
    float: left;
    margin-left: 90px;
    margin-top: 50px;
    margin-bottom: 0px;
    font-size:45px;
    font-weight: bold;
}

#calendar{
    height: 30%;
    width: 120%;
    text-align: center;
    margin-right: 33px;
}
#cal_left{
    width: 85%;
    float: left;
    position: relative;
    text-align: right;
}
#cal_right{
    width: 15%;
    height: 100%;
    position: relative;
    float: right;
}
#memos{
    text-align: center;
}
#texts{
    width: 90%;
    text-align: center;
}
#dates{
    border-radius: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    border: none;
}
.date{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    font-size: 45px;
    margin-top: -50px;
}

#value{
    position: relative;
    padding: 5px 10px;
    width: 400px;
    height: 100px;
    margin-left: 9%;
    border-radius: 60px;
    /* border:1px solid salmon; */
    background-color: white;
    background-image: url("https://img.icons8.com/material-rounded/24/000000/expand-arrow.png");
    background-repeat: no-repeat;
    background-position: 96% center;
    cursor: pointer;
    /*     padding-left: 35px; */
    padding-top: 15px;
}

[type="date"] {
    background:#fff
        /*   url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set
          /blacks/16x16/calendar_2.png) */
    url(resources/img/circlesm.png)
    90% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* reset */
*{
    list-style: none;
    /* margin: 0; */
    padding: 0;
    /* font-size: 45px; */
    box-sizing: border-box;
}

/* common */
/* body{
    padding: 30px;
} */
.hide{
    display: none;
}
.show {
    /* display: none; */
}

/* 셀렉트 영역 스타일 */
.select{
    position: relative;
    padding: 5px 10px;
    border-radius: 60px;
    background-color: white;
    background-image: url("https://img.icons8.com/material-rounded/24/000000/expand-arrow.png");
    background-repeat: no-repeat;
    background-position: 96% center;
    cursor: pointer;
    padding-left: 35px;
    padding-top: 15px;
}

/* 옵션 영역 스타일 */
.select ul{
    position: absolute;
    top: 53%;
    left: 0;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    z-index: 2;
}
.select ul li{   /* 셀렉트목록 */
    padding: 10px;
    height: 100px;
}
.select ul li:first-child{
    background: white;
}
.select ul li:nth-child(2){
    background: white;
}
.select ul li:nth-child(3){
    background: white;
}
.select ul li:nth-child(4){
    background: white;
}
.select ul li:nth-child(5){
    background: white;
}
.select ul li:hover{
    background-color: white;
}
/* 아이콘 스타일 */
i{
    vertical-align: bottom;
    margin-right: 5px;
}
i img{
    width: 60px;
}

#choice{
    padding: 30px;
    height: 100px;
    font-family: Regular;
    position: absolute;
    font-size: 45px;
    top: 230px;
    left: 648px;
}

.vise1{
    position: fixed;
    top: 850px;
    left: 370px;
}
.vida1{
    position: fixed;
    top: 850px;
    left: 100px;
}
.vise2{
    position: fixed;
    top: 850px;
    right: 120px;
}
.vida2{
    position: fixed;
    top: 850px;
    right: 290px;
}
.vise3{
    position: fixed;
    top: 1360px;
    left: 370px;
}
.vida3{
    position: fixed;
    top: 1360px;
    left: 100px;
}
.vise4{
    position: fixed;
    top: 1360px;
    right: 120px;
}
.vida4{
    position: fixed;
    top: 1360px;
    right: 290px;
}
.vise5{
    position: fixed;
    top: 1870px;
    left: 370px;
}
.vida5{
    position: fixed;
    top: 1870px;
    left: 100px;
}
.vise6{
    position: fixed;
    top: 1870px;
    right: 120px;
}
.vida6{
    position: fixed;
    top: 1870px;
    right: 290px;
}

#container{
    font-family : 'Noto Sans KR', sans-serif;
}