
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.main_map {
    width:100%;
    height:100%;
    background-color : #F1F2F6;
}

.top_left {
    float: left;
    width: 80%;
    padding-top: 4%;
}
.top_right {
    float: right;
    width: 20%;
    padding-top: 5%;
}

.main_top {
    width:100%;
    height:8%;
    background-color:#FFFFFF;
}
h1{
    position:relative;
    left:-10%;
    font-size:80px;
}
.record_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(218, 215, 216, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}

.record_wrap{
    display: none;
    width: 90%;
    height: 93%;
    position: absolute;
    top:13%;
    left: 25%;
    margin: -254px 0 0 -236px;
    background:#FFFFFF;
    z-index: 2;
    border-radius:5em;
    overflow: auto;
}
.record_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 108%;
    background-color:rgba(218, 215, 216, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}

#join.button{
    position:relative;
    top:30%;
    /* opacity:0.5; */
    /* background: white; */
    border: none;
    /*  color:#d0d0d0; */
    font-size: 100px;
    margin-top: 50px;
}

#join{
    border-radius:30px;
    font-weight:bolder;
    font-family: 'Noto Sans KR', sans-serif;
}

#button{
    border-radius:30px;
    font-weight:bolder;
    background-color:#FFFFFF;
    font-family: 'Noto Sans KR', sans-serif;
    /*  opacity:0.5; */
    border: none;
    /*  color:#d0d0d0; */
    width:200px;
    height:130px;
}

.userExinfo{
    position:relative;
    border-radius:20px 20px 20px 20px;
    font-weight:bolder;
    font-family: 'Noto Sans KR', sans-serif;
    width:104%;
    height:68%;
    font-size:60px;
    text-align:center;
    border: none;
    float: left;
    margin-left: 2.5%;
}

.hiddenSpan{
    display: none;
    color: red;
    font-size: 42px;
}
div{
    position:relative;
}


a{
    position:relative;
    border-radius:30px;
    font-weight:bolder;
    font-size:50px;
    font-family: 'Noto Sans KR', sans-serif;
}

input::-webkit-input-placeholder {
    /*   color: white !important; */
    text-align:center;

}

select{
    /*   color: white !important; */
    text-align:center;
    width:50px;
    height:50px;
}

#name{
    position:relative;
    padding: 20px 20px 20px 20px;
    text-align:center;
    width:40%;
}

#birth{
    position:relative;
    padding: 20px 20px 20px 20px;
    text-align:center;
}

#date{
    padding: 20px 20px 20px 20px;
    text-align:center;
}

#gym{
    padding: 20px 20px 20px 20px;
    text-align:center;
}
.inputList{
    width:100%;
    height:200px;
    margin-top:100px;
    margin-left: 9%;
}

#videos{
    padding: 20px 20px 20px 20px;
    text-align:center;
    font-family: 'Noto Sans KR', sans-serif;
}


.middle{
    width: 90%;
    text-align: center;
}

hr{
    position:relative;
    top:5%
}

#training{
    position:relative;
    top:55%;
    filter : opacity(.5) drop-shadow(0 0 0 gray);
}

#videioTrainging{
    position:relative;
    top:25%;
    filter : opacity(.5) drop-shadow(0 0 0 gray);
}

#b{
    position:relative;
    width:150px;
    height:50px;
    font-size:30px;
}


#NSK_font{
    font-family: 'Noto Sans KR', sans-serif;
}



.bottom{
    width:100%;
    height:500px;
}

.joinTable{
    width: 100%;
    height: 1000px;
    margin-top: 130px;
}

input::placeholder {
    color: #d0d0d0;
    /*  opacity:0.5; */
}

input[type="checkbox"] {
    /*         -webkit-appearance: none; */
    position: relative;
    /*         width: 16px;
            height: 16px; */
    cursor: pointer;
    outline: none !important;
    /*         border: 1px solid #eeeeee;  */
    border-radius: 2px;
    background: white;
}

.hide{
    display: none;
}
.show {
    /* display: none; */
}
/* 셀렉트 영역 스타일 */
.select{
    background-color: white;
    position: relative;
    padding: 5px 10px;
    width: 100%;
    height: 100px;
    margin-left: 2.5%;
    background-repeat: no-repeat;
    background-position: 96% center;
    cursor: pointer;
    padding-left: 35px;
    padding-top: 15px;
    font-weight:bolder;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:60px;
    text-align:center;
    border: none;
}

/* 옵션 영역 스타일 */
.select ul{
    position: absolute;
    top: 51%;
    left: 0;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    z-index: 2;
    list-style:none;
    padding-left:0px;
}
.select ul li{   /* 셀렉트목록 */
    padding: 10px;
    height: 100px;
}
.select ul li:first-child{
    background: white;
}
.select ul li:nth-child(2){
    background: white;
}
.select ul li:nth-child(3){
    background: white;
}
.select ul li:nth-child(4){
    background: white;
}
.select ul li:nth-child(5){
    background: white;
}
.select ul li:hover{
    background-color: white;
}
/* 아이콘 스타일 */
i{
    vertical-align: bottom;
    margin-right: 5px;
}
i img{
    width: 60px;
}

#choice{
    padding: 30px;
    height: 100px;
    position: absolute;
    font-size: 60px;
    top: 830px;
    left: 450px;
    font-weight: bolder;
    font-family: 'Noto Sans KR', sans-serif;
    color: #d0d0d0;
}