
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
/* .record_p, .record_g, .record_b, .record_d, .record_u */
.record_wrap{
    display: none;
    width: 90%;
    height: 93%;
    position: absolute;
    top:13%;
    left: 29%;
    margin: -254px 0 0 -236px;
    background:#FFFFFF;
    z-index: 2;
    border-radius:2em;
    overflow: auto;
}
.record_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(218, 215, 216, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}




.main_top {
    width:100%;
    height:8%;
    background-color : white;
}

.top_left{
    float:left;
    width:80%;
}

#modal_btn{
    position:relative;
    top:20%;
}

.top_right{
    float:right;
    width:20%;
    height:40%;
}


/* #NSK_font{
font-family: 'Noto Sans KR', sans-serif;
} */
.container{
    float: left;
}
#record{
    position:relative;
    font-size:59px;
    padding-right:20px;
    font-weight:bolder;
    right:-8%;
    font-family: 'Noto Sans KR', sans-serif;
}

/*    select{
   position:relative;
   border-radius:40px;
   font-weight:bolder;
   appearance:none;
   right:-20%;
   } */

.diary_top{
    height: 100%;
}

#diary_btn{
    position: absolute;
    right: 3%;
    top: 9.5%;
}


#button{
    background-color: white;
    width:450px;
    height:300px;
}
input{
    font-size:60px;
    text-align: center;
}

#mid{
    border-spacing: 50px;
    border-collapse: separate;
    filter : drop-shadow(0 0 0 white);
}


#training{
    filter : opacity(.5) drop-shadow(0 0 0 gray);
    top: 110px;
    right: 40px;
    position: relative;
}

#videioTrainging{
    filter : opacity(.5) drop-shadow(0 0 0 gray);
    top: 110px;
    left: 40px;
    position: relative;
}

#button_gym{
    border: none;
    /* position: absolute;
    top : 84%;
    left : 34%; */
}


hr{
    position:relative;
    width:100%;
    filter : opacity(.5) drop-shadow(0 0 0 gray);
}

#record_top_title{
    font-size:100px;
    font-weight:bolder;
    padding: 50px 50px 50px 50px;
}

#record_middle_content{
    position:relative;
}

.videotag{
    position:relative;
    width:1000px;
    height:800px;
    max-width: 100%;
}

.bottom1{
    border-spacing: 50px;
    border-collapse: separate;
    width: 100%;
    height:1000px;
    padding-left: 5px;
    color: white;
}

.bottom1 tr{
    /* height:20%;
    width:100%; */
}

.bottom1 td{
    font-size: 70px;
    font-weight: bold;
    color: black;
}

#bottom2{
    border-spacing: 50px;
    border-collapse: separate;
    width: 50%;
    float: right;
}

.gdImg{
    height: 400px;
    width: 450px;
}

a{
    font-size:50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:bolder;
}

.ttleft{
    font-size: 60px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bolder;
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 0px;
    padding-left: 4px;
}
.ttright{
    font-size: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bolder;
    width: 50%;
    height: 100%;
    float: right;
    text-align: right;
    padding-right: 50px;
}

#out{
    position: relative;
    width: 100px;
    height: 100px;
    left: 18%;
}

b{
    font-size:80px;
}

h1{
    position:relative;
    left:-13%;
    top: 20%;

}

h2{
    position:relative;

}

.middle{
    background-color:#F1F2F6;
}

.d{
    padding: 50px 0px 0px 0px;
}

.main_map {
    width:100%;
    height:100%;
    background-color : #F1F2F6;
}

.main_mid {
    width:100%;
    height:70%;
    /* border-bottom: 20px solid #DACDF5; */
    /** background-color:red;
    float:left; **/}

.mid_top{
    width:100%;

}

.mid_bot{
    width:100%;
    /* height:90%; */
}

#record_video0, #record_video1, #record_video2,
#record_video5, #record_video4, #record_video3,
#record_video6, #record_video7, #record_video8{
    width: 450px;
    height: 450px;
}

.vdate{
    margin-top: -30px;
    text-align: center;
    font-size:50px;
    font-weight : bolder;
    width: 99%;
}

.main_bot {
    width:100%;
    height:20%;
    background-color : #F1F2F6;
    text-align: center;
    padding-top: 30%;
}
.calender{

}
.hide{
    height: 300px;
}

#exercise{
    width:310px;
    height:100px;
    font-size:45px;
    font-family: 'Noto Sans KR', sans-serif;
}

.item {
    width: 450px;
    float: left;
    margin-left: 4%;
    margin-top: 26%;
}

#calendar{
    height: 30%;
    width: 120%;
    text-align: center;
    margin-right: 33px;
}
#cal_left{
    width: 85%;
    float: left;
    position: relative;
    text-align: right;
}
#cal_right{
    width: 15%;
    height: 100%;
    position: relative;
    float: right;
}
#memos{
    text-align: center;
}
#texts{
    width: 90%;
    text-align: center;
}
#dates{
    border-radius: 60px;
    font-family: 'Noto Sans KR', sans-serif;
    border: none;
    height: 100px;
    width: 500px;
}
.date{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    font-size: 45px;
    margin-top: -50px;
}
/* reset */
*{
    list-style: none;
    /* margin: 0; */
    padding: 0;
    /* font-size: 45px; */
    box-sizing: border-box;
}

.hide{
    display: none;
}

/* 셀렉트 영역 스타일 */
.select{
    position: relative;
    margin-left: 58px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 90% center;
    cursor: pointer;
    padding-left: 8px;
    padding-top: 15px;
}

/* 옵션 영역 스타일 */
.select ul{
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    z-index: 2;
    font-family: 'Noto Sans KR', sans-serif;
}
.select ul li{   /* 셀렉트목록 */
    padding: 10px;
    height: 100px;

}
.select ul li:first-child{
    background: white;
}
.select ul li:nth-child(2){
    background: white;
}
.select ul li:nth-child(3){
    background: white;
}
.select ul li:nth-child(4){
    background: white;
}
.select ul li:nth-child(5){
    background: white;
}
.select ul li:hover{
    background-color: white;
}
/* 아이콘 스타일 */
i{
    vertical-align: bottom;
    margin-right: 5px;
}
i img{
    width: 60px;
    float: left;
    margin-left: 40px;
    margin-top: 8px;
}

#choice{
    padding: 30px;
    height: 100px;
    font-family: 'Noto Sans KR', sans-serif;
    position: fixed;
    font-size: 45px;
    top: 230px;
    left: 600px;
}

.sunteck{
    float: left;
    margin-left: 30px;
}

.jase{
    font-size:60px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-weight: bolder;
    width: 195%;
    margin: 0px 0px 0px -54px;
    border-bottom: 8px solid red;
    padding-bottom: 50px;
    color:red;
    opacity: 0.5;
}
.good{
    font-size: 50px;
    text-align: center;
    color: red;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    opacity: 0.8;
    line-height: 100px;
    width: 1100px;
    margin: 34% 0px 0px -143px;
}