<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin page</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/admin.css">
  <!--css-->
  <link rel="stylesheet" th:href="@{/static/css/side/modal.css}">
  <script th:src="@{/static/js/side/modal.js}"></script>

  <link rel="stylesheet" th:href="@{/static/css/top/top.css}">


</head>
<body>
<th:block th:replace="sidebar/modal :: sideModal">
</th:block>
<div class="record_bg"></div>
<div class="record_wrap">
  <div class="record_top" style="width:100%; height:200px;">
    <div id="record_top_title">
      <div class="ttleft"> 체스트프레스 </div>
      <div class="ttright"><img alt="영상 리스트" id="out" src="/static/image/out.png" onclick = "go_record()"></div>
    </div>
    <hr style="border: solid 10px #f5f5f5;">
  </div>


  <div style="width:70%; height:100px;"> </div>
</div>
<div class="main_map">
  <th:block th:replace="top/top :: topModal">
  </th:block>
  <div class="main_mid">
    <div class="mid_top">
      <table style="padding-top: 40px;">
        <tr>
          <td style="padding-left: 50px;"><div id="change">
            <input onkeyup = "filter()" type = "text"
                   id="value" align ="center" placeholder = "이름 입력하세요">
            </input> </div></td>
          <td>

            <div class="select" data-role="selectBox" name="exercise" id="exercise">
                     <span date-value="optValue" class="selected-option">
                        <!-- 선택된 옵션 값이 출력되는 부분 -->
                     </span>
              <!-- 옵션 영역 -->
              <ul class="hide" id="wrap">
                <li class ="전체"><i><img src="/static/image/menu.png" alt="전체"/></i>전체</li>
                <li class ="div_d"><i><img src="/static/image/등.png"  alt="등" /></i>등</li>
                <li class ="div_p"><i><img src="/static/image/팔.png" alt="팔" /></i>팔</li>
                <li class ="div_g"><i><img src="/static/image/가슴.png" alt="가슴" /></i>가슴</li>
                <li class ="div_u"><i><img src="/static/image/어깨.png" alt="어깨" /></i>어깨</li>
                <li class ="div_b"><i><img src="/static/image/복근.png" alt="복근" /></i>복근</li>
              </ul>
            </div>
          </td>
          <td></td>
        </tr>
      </table>
      <div>
        <ul>
          <li class="menu">
            <ul class="hide">
              <div>
              </div>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="container-xl">
        <div class="row row-cols-2">
          <div th:each="video ,t: ${session.userList}" class="col videoList">
            <div th:class = "${video.getExercies().getExKinds()}">
              <div class="item">
                <video th:src="'/video/'+${video.getFileName()}+'.webm'"
                       th:class="${video.getVideoSeq()} + ' w-100'"
                       th:id="'record_video'+${t.index+1}">
                </video>
                <div class="videoDate" th:text="${video.getVideoDate()}"></div>
                <div class="userName" th:text="${video.getUser().getUserName()}"></div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="main_bot" id="NSK_font">
    <img id="gym2" align="bottom" src="/static/image/gym2.png" width="150px" height="150px" onclick = "go_main()">
  </div>

</div>
<!--js-->
<script th:src="@{/static/js/side/modal.js}"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script th:inline="javascript" type="text/javascript">



const body = document.querySelector('body');
const select = document.querySelector(`[data-role="selectBox"]`);
const values = select.querySelector(`[date-value="optValue"]`);
const option = select.querySelector('ul');
const opts = option.querySelectorAll('li');
const choice = document.querySelector('#choice');

select.addEventListener('click', selects);
body.addEventListener('click', hideSelect);

/* 셀렉트영역 클릭 시 옵션 숨기기, 보이기 */
function selects(e) {
  e.stopPropagation();

  if (option.classList.contains('hide')) {
    option.classList.remove('hide');
    option.classList.add('show');
  } else {
    option.classList.add('hide');
    option.classList.remove('show');
  }
  selectOpt();
}

function selectOpt() {
  opts.forEach(opt => {
    const innerValue = opt.innerHTML;

    function changeValue() {

      values.innerHTML = innerValue;
      var id = $(".videoList").children().attr('class');
      console.log(opt.className)
      if (id != opt.className) {
        $(".videoList").children().css("display", "none");
      } else {
        $(".videoList").children().css("display", "block");
      }
    }
    opt.addEventListener('click', changeValue)

  });
}


/* 렌더링 시 옵션의 첫번째 항목 기본 선택 */
function selectFirst() {
  const firstValue = opts[0].innerHTML;
  values.innerHTML = `${firstValue}`
}
selectFirst();


/* 옵션밖의 영역(=바디) 클릭 시 옵션 숨김 */
function hideSelect() {
  if (option.classList.contains('show')) {
    option.classList.add('hide');
    option.classList.remove('show');
  }
}

function filter(){
  let value, name, item, i;
  value = document.getElementById("value").value.toUpperCase();
  item = document.getElementsByClassName("item");
  for(i=0;i<item.length;i++){
    name = item[i].getElementsByClassName("userName");
    if(name[0].innerHTML.toUpperCase().indexOf(value) > -1){
      item[i].style.display = "flex";
    }else{
      item[i].style.display = "none";
    }
  }
}
function show1 () {
  console.log("들어옴")
  document.querySelector(".black_bg").className = "black_bg show1";
}
function close1 () {
  document.querySelector(".black_bg").className = "black_bg";
}
/* 달력 기본날짜 오늘날짜로 */
today = new Date();

console.log("today.toISOString() >>>" + today.toISOString());
today = today.toISOString().slice(0, 10);
console.log("today >>>> " + today);
bir = document.getElementById("dates");
bir.value = today;

</script>
</body>
</html>