<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin page</title>
  <script src='resources/record.js'></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <link rel="stylesheet" th:href="@{/css/side/modal.css}" >
  <script th:src="@{/js/side/modal.js}"></script>
  <link rel="stylesheet" href="/css/admin.css">
  <script>
    window.onload = function() {
/*
      <%  List<videoDT> memberVideo = (List<videoDT>) session.getAttribute("memberVideo");%>
    <%for(int i =0; i<memberVideo.size(); i++){%>
        $.ajax({
          url : "/web/memberName.do?video_seq=<%=memberVideo.get(i).getVideo_seq()%>",
          type :"GET",
          dataType : "text",
          contentType: 'application/json; charset=utf-8',
          success : function(result){

            var html ="<div class = 'name'>"+result+"</div>";
            $('#div_d<%=i%> div > div:nth-child(3)').html(html);
          },
          error : function(request,status,error){
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
          }
        });
        <%}%>
*/
      function show1 () {
        console.log("들어옴")
        document.querySelector(".black_bg").className = "black_bg show1";
      }
      function close1 () {
        document.querySelector(".black_bg").className = "black_bg";
      }

      document.querySelector("#modal_btn").addEventListener("click", show1);
      document.querySelector(".black_bg").addEventListener("click", close1);


      function onClick7() {
        var changeSrc= $(this).attr('src');
        $("#video").attr("src",changeSrc);

        document.querySelector('.record_wrap').style.display ='block';
        document.querySelector('.record_bg').style.display ='block';

      }

      function offClick7() {
        document.querySelector('.record_wrap').style.display ='none';
        document.querySelector('.record_bg').style.display ='none';
      }


      document.getElementById('record_video0').addEventListener('click', onClick7);
      document.querySelector('.record_bg').addEventListener('click', offClick7);

      document.getElementById('record_video1').addEventListener('click', onClick7);
      document.querySelector('.record_bg').addEventListener('click', offClick7);

      document.getElementById('record_video2').addEventListener('click', onClick7);
      document.querySelector('.record_bg').addEventListener('click', offClick7);

      document.getElementById('record_video3').addEventListener('click', onClick7);
      document.querySelector('.record_bg').addEventListener('click', offClick7);

      document.getElementById('record_video4').addEventListener('click', onClick7);
      document.querySelector('.record_bg').addEventListener('click', offClick7);

      document.getElementById('record_video5').addEventListener('click', onClick7);
      document.querySelector('.record_bg').addEventListener('click', offClick7);

      document.getElementById('record_video6').addEventListener('click', onClick7);
      document.querySelector('.record_bg').addEventListener('click', offClick7);

      document.getElementById('record_video7').addEventListener('click', onClick7);
      document.querySelector('.record_bg').addEventListener('click', offClick7);

      document.getElementById('record_video8').addEventListener('click', onClick7);
      document.querySelector('.record_bg').addEventListener('click', offClick7);

      document.getElementById('record_video9').addEventListener('click', onClick7);
      document.querySelector('.record_bg').addEventListener('click', offClick7);

      /* 달력 기본날짜 오늘날짜로 */
      today = new Date();

      console.log("today.toISOString() >>>" + today.toISOString());
      today = today.toISOString().slice(0, 10);
      console.log("today >>>> " + today);
      bir = document.getElementById("dates");
      bir.value = today;

    }
  </script>

</head>
<body>
<th:block th:replace="sidebar/modal :: sideModal">
  <th:block layout:fragment="script"></th:block>
</th:block>
<div class="record_bg"></div>
<div class="record_wrap">
  <div class="record_top" style="width:100%; height:200px;">
    <div id="record_top_title">
      <div class="ttleft"> 체스트프레스 </div>
      <div class="ttright"><img id="out" src="image/out.png" onclick = "go_record()"></div>
    </div>
    <hr style="border: solid 10px #f5f5f5;">
  </div>

  <div class="record_middle" style="width:100%; height:1000px;" align="center">
    <div id="record_middle_content">
      <video src="/cam/??.webm" id="video" controls="controls">
        <source src="/cam/??.webm"/>
      </video>
    </div>
  </div>

  <div style="width:70%; height:100px;"> </div>
</div>
<div class="main_map">
  <th:block th:replace="top/top :: topModal">
  </th:block>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var userInfo =/*[[${session.user}]]*/;
    var userList =/*[[${session.userList}]]*/;

    console.log(userList.exercieVideosList);
    /*]]*/
    function test(){
      $.ajax({
        url :"/memberExinfo",
        method:"POST",
        dataType: 'json',
        success: function(data2) {
          $.each(data2, (index, obj)=>{
            var inD = 'div_d'+index;
            document.getElementById(inD).className = obj.ex_kinds;
          });

        }
      });
    }

    function insertdate(){
      var DATE = document.querySelector('input[type="date"]').value;
      $.ajax({
        url : "/dateVideo",
        method :"POST",
        data: {videoDate : DATE},
        dataType : "text",
        async:false,
        success : function(result){
          location.href = "/web/"+result;
        },
        error : function(data){
          alert("error"+data);
        }

      })

    }


  </script>
  <div class="main_mid">
    <div class="mid_top">
      <table style="padding-top: 40px;">
        <tr>
          <td style="padding-left: 50px;"><div id="change">
            <input onkeyup = "filter()" type = "text"
                   id="value" align ="center" placeholder = "이름 입력하세요">
            </input> </div></td>
          <td>

            <div class="select" data-role="selectBox" name="exercise" id="exercise" onclick = "test()">
                     <span date-value="optValue" class="selected-option">
                        <!-- 선택된 옵션 값이 출력되는 부분 -->
                     </span>
              <!-- 옵션 영역 -->
              <ul class="hide" id="wrap">
                <li class ="전체"><i><img src="image/menu.png" alt="전체"/></i>전체</li>
                <li class ="div_d"><i><img src="image/등.png"  alt="등" /></i>등</li>
                <li class ="div_p"><i><img src="image/팔.png" alt="팔" /></i>팔</li>
                <li class ="div_g"><i><img src="image/가슴.png" alt="가슴" /></i>가슴</li>
                <li class ="div_u"><i><img src="image/어깨.png" alt="어깨" /></i>어깨</li>
                <li class ="div_b"><i><img src="image/복근.png" alt="복근" /></i>복근</li>
              </ul>
            </div>
            <div id="choice"><i><img src="image/menu.png" alt="전체"/></i>전체</div>
          </td>
          <td></td>
        </tr>
      </table>
      <div>
        <ul>
          <li class="menu">
            <ul class="hide">
              <div>
              </div>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div id="container">
      <div th:each="user ,i : ${session.userList}">
        <div th:each="video ,t: ${user.getExercieVideosList()}">
          <div th:id = "'div_d'+${t.index+1}" th:class="'div_p'+${t.index+1}">
            <div class="item">
              <video th:src="'/video/'+${video.getFileName()}+'.webm'"
                     th:class="${video.getVideoSeq()}"
                     th:id="'record_video'+${t.index+1}">
              </video>
              <div th:class="'vida'+${i.index+1}" th:text="${video.getVideoDate()}"></div>
              <div th:class="'vise'+${i.index+1}" th:text="${video.getVideoSeq()}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main_bot" id="NSK_font">
    <img id="gym2" align="bottom" src="image/gym2.png" width="150px" height="150px" onclick = "go_main()">
  </div>

</div>
<script> /* 컨테이너 */
var container = document.querySelector( '#container' );
var msnry = new Masonry( container, {
  // options
  columnWidth: 100,
  itemSelector: '.item',
} );


</script>
<script> /* 셀렉트 선택시 동영상 상자 */
$('.전체').click(function(){
  $('.등').show();
  $('.가슴').show();
  $('.팔').show();
  $('.어깨').show();
  $('.복근').show();
})
$('.div_d').click(function(){
  $('.등').show();
  $('.팔').hide();
  $('.가슴').hide();
  $('.어깨').hide();
  $('.복근').hide();
})
$('.div_p').click(function(){
  $('.팔').show();
  $('.등').hide();
  $('.가슴').hide();
  $('.어깨').hide();
  $('.복근').hide();
})
$('.div_g').click(function(){
  $('.가슴').show();
  $('.등').hide();
  $('.팔').hide();
  $('.어깨').hide();
  $('.복근').hide();
})
$('.div_u').click(function(){
  $('.어깨').show();
  $('.등').hide();
  $('.팔').hide();
  $('.가슴').hide();
  $('.복근').hide();
})
$('.duv_b').click(function(){
  $('.복근').show();
  $('.등').hide();
  $('.팔').hide();
  $('.가').hide();
  $('.div_u').hide();
})
</script>
<script type="text/javascript"> /* 셀렉트 */
const body = document.querySelector('body');
const select = document.querySelector(`[data-role="selectBox"]`);
const values = select.querySelector(`[date-value="optValue"]`);
const option = select.querySelector('ul');
const opts = option.querySelectorAll('li');
const choice = document.querySelector('#choice');

/* 셀렉트영역 클릭 시 옵션 숨기기, 보이기 */
function selects(e){
  e.stopPropagation();
  if(option.classList.contains('hide')){
    option.classList.remove('hide');
    option.classList.add('show');
  }else{
    option.classList.add('hide');
    option.classList.remove('show');
  }
  selectOpt();
  choice.classList.add('hide');
}

/* 옵션선택 */
function selectOpt(){
  opts.forEach(opt=>{
    const innerValue = opt.innerHTML;
    function changeValue(){
      values.innerHTML = innerValue;
    }
    opt.addEventListener('click',changeValue)
  });
}

/* 선택시 div보이게 */


/* 렌더링 시 옵션의 첫번째 항목 기본 선택 */
function selectFirst(){
  const firstValue = opts[0].innerHTML;
  values.innerHTML = `${firstValue}`
}



/* 옵션밖의 영역(=바디) 클릭 시 옵션 숨김 */
function hideSelect(){
  if(option.classList.contains('show')){
    option.classList.add('hide');
    option.classList.remove('show');
  }
}

selectFirst();
select.addEventListener('click',selects);
body.addEventListener('click',hideSelect);




</script>
<script type="text/javascript">
  function filter(){
    var value, name, item, i;

    value = document.getElementById("value").value.toUpperCase();
    item = document.getElementsByClassName("item");
    console.log(value);
    for(i=0;i<item.length;i++){
      name = item[i].getElementsByClassName("name");
      if(name[0].innerHTML.toUpperCase().indexOf(value) > -1){
        item[i].style.display = "flex";
      }else{
        item[i].style.display = "none";
      }
    }
  }
</script>
</body>
</html>