<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/side/modal.css}" >
  <link rel="stylesheet" th:href="@{/css/top/top.css}">
  <link rel="stylesheet" href="/css/join.css">
  <script th:src="@{http://code.jquery.com/jquery-3.5.1.min.js}"></script>
  <script th:src="@{/js/side/modal.js}"></script>
  <script>
    window.onload = function() {
      function show1 () {
        document.querySelector(".black_bg").className = "black_bg show1";
      }
      function close1 () {
        document.querySelector(".black_bg").className = "black_bg";
      }
      document.querySelector("#modal_btn").addEventListener("click", show1);
      document.querySelector(".black_bg").addEventListener("click", close1);
    }
    function gomember(){
      location.href =  "/web/admin_member.do";
    }
    function gojoin(){
      location.href =  "/web/join.do";
    }
    function gorecord(){
      location.href =  "/web/admin.do";
    }
  </script>

</head>
<body bgcolor="EFEFEF">
<div class="main_map">
<th:block th:replace="sidebar/modal :: sideModal">
  <th:block layout:fragment="css"></th:block>
  <th:block layout:fragment="script"></th:block>
</th:block>
<th:block th:replace="top/top :: topModal">
  <th:block layout:fragment="css"></th:block>
</th:block>
<div align="center" style="width:100%; height:300px;">

  <input id="join" style="width:800px; height:150px;" class="button" type = "submit" value ="회원 가입">

</div>
  <form action="/admin/joinMember" method="post">
  <div class="middle">
    <table class="joinTable">
      <tr>
        <td> <input name = "userName" class="userExinfo" type="text" placeholder="이름"> </td>
      </tr>
      <tr>
        <td> <input name = "userBirthdate" class="userExinfo birthday" type="text" placeholder="생년월일"> </td>
      </tr>
      <tr>
        <td> <span class="hiddenSpan">Ex) 19950820 / 형식에 맞게 입력해주세요</span> </td>
      </tr>
      <tr>
        <td> <input name = "userPhone" class="userExinfo phone-number-check" type="text" placeholder="핸드폰 번호"> </td>
      </tr>
      <tr>
        <td> <span class="hiddenSpan">Ex) 01049034073 / 형식에 맞게 입력해주세요</span> </td>
      </tr>
      <tr>
        <td> <input name="userExpireDate" class="userExinfo expiry" type="text" placeholder="개월 수"> </td>
      </tr>
      <tr>
        <td> <span class="hiddenSpan">Ex) 3 / 숫자만 입력해주세요</span> </td>
      </tr>
      <tr>
        <td>
          <div class="select" data-role="selectBox" name="userGym" id="userGym" onclick = "test()">
                     <span date-value="optValue" class="selected-option">
                        <!-- 선택된 옵션 값이 출력되는 부분 -->
                     </span>
            <!-- 옵션 영역 -->
            <ul class="hide" id="wrap">
              <li class ="강남점">강남</li>
              <li class ="해운대점">해운대</li>
              <li class ="광주남구">광주남구</li>
            </ul>
          </div>
          <div id="choice">지점명</div>
        </td>
      </tr>
    </table>

    <div class="inputList">
      <table>
        <tr>
          <td id="videos" style="width:30%; font-size:40px;">
            <div><input name = "videoYn" type='checkbox' style="width:80px; height:80px;"
                                               class="button video"></div>
            <c>영상 제공 동의</c>
          </td>
          <td id ="videos" style="width:30%; font-size:40px; padding-top:9%;">
            <div><input name = "managerYn" type='checkbox' style="width:80px; height:80px;"
                        class="button manager"></div>
            <c>트레이너 여부 제공 동의</c>
          </td>
          <td>
            <div><input id="button" style="font-size:45px;" class="button" type = "submit" value ="제출"></div></td>
        </tr>
      </table>
    </div>
  </div>
  </form>


</div>
<script type="text/javascript"> /* 셀렉트 */


const body = document.querySelector('body');
const select = document.querySelector(`[data-role="selectBox"]`);
const values = select.querySelector(`[date-value="optValue"]`);
const option = select.querySelector('ul');
const opts = option.querySelectorAll('li');
const choice = document.querySelector('#choice');

/* 셀렉트영역 클릭 시 옵션 숨기기, 보이기 */
function selects(e){
  e.stopPropagation();
  if(option.classList.contains('hide')){
    option.classList.remove('hide');
    option.classList.add('show');
  }else{
    option.classList.add('hide');
    option.classList.remove('show');
  }
  selectOpt();
  choice.classList.add('hide');
}

/* 옵션선택 */
function selectOpt(){
  opts.forEach(opt=>{
    const innerValue = opt.innerHTML;
    function changeValue(){
      var html = innerValue+"<input type = 'hidden' value = '"+innerValue+"' name ='userGym'></input>"
      values.innerHTML = html;
    }
    opt.addEventListener('click',changeValue)
  });
}

/* 렌더링 시 옵션의 첫번째 항목 기본 선택 */
function selectFirst(){
  const firstValue = opts[0].innerHTML;
  values.innerHTML = `${firstValue}`
}



/* 옵션밖의 영역(=바디) 클릭 시 옵션 숨김 */
function hideSelect(){
  if(option.classList.contains('show')){
    option.classList.add('hide');
    option.classList.remove('show');
  }
}

selectFirst();
select.addEventListener('click',selects);
body.addEventListener('click',hideSelect);
$("#button").on("click",function (){
  $('input:checkbox').each(function (){
    if(!this.checked){
      $(this).val(0);
    }else{
      $(this).val(1);
    }
  })

})
$(".expiry").on("keydown",function (e){
  // 숫자만 입력받기
  var trans_num = $(this).val().replace(/-/gi,'');
  var k = e.keyCode;

  if(trans_num.length >= 3 && ((k >= 48 && k <=126) || (k >= 12592 && k <= 12687 || k==32 || k==229 || (k>=45032 && k<=55203)) ))
  {
    e.preventDefault();
  }

}).on("blur",function (){
  if(/^(19[0-9][0-9]|20\d{2})-(0[0-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/.test($(this).val()))
  {
    $(this).val()
  }else if(/^[0-9]*$/.test($(this).val()))
  {
    var number = Number($(this).val());
    if(number >=50){
      $(".hiddenSpan:eq(2)").css("display","block");
      $(".hiddenSpan:eq(2)").text("정확한 개월 수가 맞나요?");
      $(this).focus();
    }else{
      var today = new Date();
      var monthNumber = number + today.getMonth()+ 1;
      var yearPlus = 0;
      if(monthNumber >= 12 ){
        while(monthNumber >= 12){
          monthNumber -= 12;
          yearPlus +=1;
        }
        console.log(monthNumber)
        var year = today.getFullYear() + yearPlus;
        var month = ('0' + (monthNumber)).slice(-2);
        var day = ('0' + today.getDate()).slice(-2);
      }else{
        var year = today.getFullYear();
        var month = ('0' + (today.getMonth() + 1 + number)).slice(-2);
        var day = ('0' + today.getDate()).slice(-2);
      }
      let numStyle =$(".hiddenSpan:eq(2)")
      var dateString = year + '-' + month  + '-' + day;
      (numStyle.css("display") !== "none") ? numStyle.css("display","none") : numStyle;
      $(this).val(dateString)
    }
  }else if ($(this).val().length >= 11){
    $(".hiddenSpan:eq(2)").css("display","block");
    $(".hiddenSpan:eq(2)").text("정확하게 기재 해주세요!");
    $(this).focus();

  }
  else
  {
    $(".hiddenSpan:eq(2)").css("display","block");
    $(".hiddenSpan:eq(2)").text("숫자만을 입력해주세요!");
    $(this).focus();
  }
})

$(".phone-number-check").on('keydown', function(e){
  // 숫자만 입력받기
  var trans_num = $(this).val().replace(/-/gi,'');
  var k = e.keyCode;

  if(trans_num.length >= 11 && ((k >= 48 && k <=126) || (k >= 12592 && k <= 12687 || k==32 || k==229 || (k>=45032 && k<=55203)) ))
  {
    console.log("문제인 곳")
    e.preventDefault();
  }
}).on('blur', function(){ // 포커스를 잃었을때 실행합니다.
  if($(this).val() == '') return;
  console.log("여기다!")
  // 기존 번호에서 - 를 삭제합니다.
  var trans_num = $(this).val().replace(/-/gi,'');

  // 입력값이 있을때만 실행합니다.
  if(trans_num != null && trans_num != '')
  {
    // 총 핸드폰 자리수는 11글자이거나, 10자여야 합니다.
    if(trans_num.length==11 || trans_num.length==10)
    {
      // 유효성 체크
      var regExp_ctn = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})([0-9]{3,4})([0-9]{4})$/;
      if(regExp_ctn.test(trans_num))
      {
        let numStyle =$(".hiddenSpan:eq(1)")
        // 유효성 체크에 성공하면 하이픈을 넣고 값을 바꿔줍니다.
        trans_num = trans_num.replace(/^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})-?([0-9]{3,4})-?([0-9]{4})$/, "$1-$2-$3");
        (numStyle.css("display") !== "none") ? numStyle.css("display","none") : numStyle;

        $(this).val(trans_num);
      }
      else
      {
        $(".hiddenSpan:eq(1)").css("display","block");
        $(this).focus();
      }
    }
    else
    {
      $(".hiddenSpan:eq(1)").css("display","block");
      $(this).focus();
    }
  }
});

$(".birthday").on('keydown',function (e){
  var trans_num = $(this).val().replace(/-/gi,'');
  var k = e.keyCode;

  if(trans_num.length >= 11 && ((k >= 48 && k <=126) || (k >= 12592 && k <= 12687 || k==32 || k==229 || (k>=45032 && k<=55203)) ))
  {
    e.preventDefault();
  }
}).on("blur",function(){
  var trans_num = $(this).val().replace(/-/gi,'');
  var regExp_birthday = /^(19[0-9][0-9]|20\d{2})(0[0-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$/;
  if(trans_num != null && trans_num != ''){
    if(regExp_birthday.test(trans_num))
    {
      console.log(trans_num)
      let numStyle =$(".hiddenSpan:eq(0)")
      trans_num = trans_num.replace(/^(19[0-9][0-9]|20\d{2})-?(0[0-9]|1[0-2])-?(0[1-9]|[1-2][0-9]|3[0-1])$/, "$1-$2-$3");
      (numStyle.css("display") !== "none") ? numStyle.css("display","none") : numStyle;
      $(this).val(trans_num);
    }else
    {
      $(".hiddenSpan:eq(0)").css("display","block");
      $(this).val("");
      $(this).focus();
    }
  }
})
</script>
</html>