<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css"  href="/css/bootstrap.css">
</head>
<body>

<div class="container m-5">
    <p id="title_name"> The </a>
    <p id="title_name2"> Ai Fitness </a>
</div>
<form th:action="@{/loginInsert}" method ="post" id="form" align="center">
    <div style="width:100%; height:150px;"></div>
    <div class="middle1">
        <div>
            <select name="userGym" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>지점을 선택해주세요!</option>
                <option value="해운대">해운대</option>
                <option value="광주남구">광주남구</option>
                <option value="민섭이점">민섭이점</option>
            </select>
        </div>
        <div style="width:100%; height:30px;"></div>
        <div class="input-group mb-3 ">
            <input class="form-control input-lg" placeholder="회원번호를 입력해주세요" name="loginNumber" type="text"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <input font-family="Regular" class="button mt-5" type = "submit" value ="로그인">
    </div>
</form>

<footer align="center">
    <div style="width:100%; height:110px;"></div>
    <table align="center" style="font-size:40px;color:rgb(143,143,143);">
        <tr>
            <td><a> @ 2023 By Riley Olson.</a></td>
        </tr>
        <tr>
            <td><a> Proudly created by Wix.com</a></td>
        </tr>
        <tr>
            <td><a> 본사 : 서울 특별시 이태원 사거리</a></td>
        </tr>
    </table>
</footer>

<script type="application/javascript" src="/js/bootstrap.js"></script>
</body>
</html>