<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <!--css-->
    <link rel="stylesheet" th:href="@{/static/css/side/modal.css}">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link href='/static/css/record.css' rel='stylesheet'/>

</head>
<body>
<th:block th:replace="sidebar/modal :: sideModal">
</th:block>
<div class="record_bg"></div>
<div class="record_wrap">
    <div class="record_top" style="width:100%; height:200px;">
        <div id="record_top_title">
            <div class="ttleft"> 체스트프레스</div>
            <div class="ttright"><img id="out" src="/static/image/out.png" onclick="go_record()"></div>
        </div>
        <hr style="border: solid 5px gray;">
    </div>

    <div class="record_middle" style="width:100%; height:32%;" align="center">
        <div id="record_middle_content">
            <video class="videotag" src="/video/??.webm" id="video" controls>
                <source src="/video/??.webm"/>
            </video>
        </div>
    </div>
    <table align="center" class=bottom1>
    </table>
</div>
<div class="main_map">
    <th:block th:replace="top/top :: topModal">
    </th:block>
    <div class="main_mid">
        <div class="mid_top">
            <table style="padding-top: 40px;">
                <tr>
                    <td>
                        <div id="change"><a id="record" align="center">자세교정 녹화본</a></div>
                    </td>
                    <td>

                        <div class="select" data-role="selectBox" name="exercise" id="exercise">
                     <span date-value="optValue" class="selected-option">
                        <!-- 선택된 옵션 값이 출력되는 부분 -->
                     </span>
                            <!-- 옵션 영역 -->
                            <ul class="hide" id="wrap">
                                <li class ="전체"><i><img src="/static/image/menu.png" alt="전체"/></i>전체</li>
                                <li class ="div_d"><i><img src="/static/image/등.png"  alt="등" /></i>등</li>
                                <li class ="div_p"><i><img src="/static/image/팔.png" alt="팔" /></i>팔</li>
                                <li class ="div_g"><i><img src="/static/image/가슴.png" alt="가슴" /></i>가슴</li>
                                <li class ="div_u"><i><img src="/static/image/어깨.png" alt="어깨" /></i>어깨</li>
                                <li class ="div_b"><i><img src="/static/image/복근.png" alt="복근" /></i>복근</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
            <div>
                <ul>
                    <li class="menu">
                        <a onclick='showDiary()' value='changeDiary'><img id="diary_btn" src="/static/image/weightDiary.png"
                                                                          width="100px" height="100px"></a>
                        <ul class="hide">
                            <div>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-2">
                <div class="col videoList" th:each="video,i : ${session.videoList}">
                    <div th:id="'div_d'+${i.index}" th:class="${video.getExercies().getExKinds()}">
                        <div class="item">
                            <video th:src="'/video/'+${video.getFileName()}+'.webm'" th:id="'record_video'+${i.index}"
                                   th:class="${video.videoSeq}"></video>
                            <div class="vdate" th:text="${video.videoDate}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="main_bot" id="NSK_font">
        <img id="gym2" align="bottom" src="/static/image/gym2.png" width="150px" height="150px" onclick="go_main()">
    </div>

</div>
<!--js-->
<script defer src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script defer th:src="@{/static/js/side/modal.js}"></script>
<script defer src='/static/js/record.js'></script>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script defer src="/static/js/bootstrap.js"></script>
<script th:inline="javascript">

    $("#modal_btn").on("click", function () {
        $(".black_bg").attr("class", "black_bg show1")
    })
    $(".black_bg").on("click", function () {
        $(".black_bg").attr("class", "black_bg")
    })

    /* 셀렉트 */
    const body = document.querySelector('body');
    const select = document.querySelector(`[data-role="selectBox"]`);
    const values = select.querySelector(`[date-value="optValue"]`);
    const option = select.querySelector('ul');
    const opts = option.querySelectorAll('li');

    /* 셀렉트영역 클릭 시 옵션 숨기기, 보이기 */
    function selects(e) {
        e.stopPropagation();
        if (option.classList.contains('hide')) {
            option.classList.remove('hide');
            option.classList.add('show');
        } else {
            option.classList.add('hide');
            option.classList.remove('show');
        }
        selectOpt();
    }

    function selectOpt() {
        opts.forEach(opt => {
            const innerValue = opt.innerHTML;

            function changeValue() {
                values.innerHTML = innerValue;
                var id = $(".videoList").children().attr('class');
                if (id != opt.className) {
                    console.log("들어옴");
                    $(".videoList").children().css("display", "none");
                } else {
                    $(".videoList").children().css("display", "block");
                }
            }

            opt.addEventListener('click', changeValue)
        });
    }

    /* 선택시 div보이게 */


    /* 렌더링 시 옵션의 첫번째 항목 기본 선택 */
    function selectFirst() {
        const firstValue = opts[0].innerHTML;
        values.innerHTML = `${firstValue}`
    }
    selectFirst();


    /* 옵션밖의 영역(=바디) 클릭 시 옵션 숨김 */
    function hideSelect() {
        if (option.classList.contains('show')) {
            option.classList.add('hide');
            option.classList.remove('show');
        }
    }

    select.addEventListener('click', selects);
    body.addEventListener('click', hideSelect);

    function insertdate() {
        var date = document.querySelector('input[type="date"]').value;
        for (let i = 0; i < $(".vdate").length; i++) {

            if ($(".vdate").eq(i).text() == date) {
                console.log($(".vdate").eq(i).text())
                videoLength == videoLength - 1;
                $(".videoList").eq(i).css("display", "block")
            } else {
                $(".videoList").eq(i).css("display", "none")
            }
            ;
        }
    }

    var videoLength = $(".videoList").length;

    for (let i = 1; i < videoLength; i += 2) {
        $(".item video").eq(i).css("margin-left", "27%");
        $(".vdate").eq(i).css("margin-left", "27%");
    }
    var container = document.querySelector('.container');


    $("video").on("click",function (){
        var changeSrc = $(this).attr('src');
        $("#video").attr("src",changeSrc);
        console.log(changeSrc);
        var video_seq = $(this).attr('class');
        document.querySelector('.record_wrap').style.display = 'block';
        document.querySelector('.record_bg').style.display = 'block';

        $.ajax({
            url: "/pose?videoSeq=" + video_seq,
            contentType: "application/json; charset=UTF-8",
            type: "GET",
            success: function (result) {
                var html1;
                var exinfo = result.exinfo;
                var postures = result.postures;
                console.log(postures);
                console.log(exinfo);
                $(".ttleft").text(exinfo.exName)
                if (postures.length != "") {
                    $.each(postures, (index, obj) => {
                        if (index == 0) {
                            html1 += "<div class='jase'>자세교정</div>";
                        }
                        html1 += "<tr>";
                        html1 += "<td>";
                        html1 += "<div><img class='gdImg' src='/resultImage/" + obj.poseResult + ".png'></div>";
                        html1 += "</td>";
                        html1 += "<td>" + obj.aiComment + "</td>";
                        html1 += "</tr>"
                    })
                } else {
                    html1 += "<div class='good'>자세 교정게 없네요?!?!<br>이번 운동은 정말 잘한거 같아요!!</div>";
                    $(".record_wrap").css("height", "69%");
                    $(".record_wrap").css("top", "26%");
                }

                $(".bottom1").html(html1);

            }
        });

    })
    $(".record_bg").click(function(e){
        document.querySelector('.record_wrap').style.display ='none';
        document.querySelector('.record_bg').style.display ='none';
    });
    function showDiary() {
        const element = document.getElementById('change');
        document.getElementById("diary_btn").style.display = 'none';
        element.innerHTML = '<div id="calendar"><input type="date" id="dates" onchange = "insertdate()"></div>';
    }


</script>


</body>
</html>