<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'/>
    <script src="/static/js/calendar.js"></script>
    <link rel="stylesheet" href="/static/css/test.css">
    <link rel="stylesheet" th:href="@{/static/css/side/modal.css}" >
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/static/js/side/modal.js}"></script>
</head>
<body>
<div class="black_bg">
    <div class="modal_wrap">
        <div class="modal_main">
            <div class="modal_top">
                <div id="NSK_font" style="font-size:80px;"><b><br th:text="${session.user?.getUserName()}"></b></div>
                <div class="modal_top_left">
                    <div id="NSK_font"><br>만기일</div>
                </div>
                <div class="modal_top_right">
                    <div th:text="${session.user?.getUserExpireDate()}"></div>
                </div>
            </div>
            <div class="modal_mid">
                <div class="modal_mid_mid">
                    <div class="modal_mid_left"><img id="moicon" src="/static/image/diary.png" th:onclick="go_calendar()">
                    </div>
                    <div class="modal_mid_right"><b id="modal_mid_b" th:onclick="go_calendar()">운동 다이어리</b></div>
                </div>
                <div class="modal_mid_mid">
                    <div class="modal_mid_left"><img id="moicon" src="/static/image/video.png" th:onclick="go_record()" >
                    </div>
                    <div class="modal_mid_right"><b id="modal_mid_b" th:onclick="go_record()" >운동 영상</b></div>
                </div>
            </div>
            <div class="modal_bot">
                <div id="NSK_font">고객센터 010-4903-4073</div>
            </div>
        </div>
    </div>
</div>
<div class="record_bg"></div>
<div class="modal2_wrap">
</div>

<div class="main_map">

    <div class="main_top" style="text-align : center;">
        <div class="top_left">
            <h1 style="font-size:80px;">The Ai Fitness</h1>
        </div>
        <div class="top_right">
            <img id="modal_btn" src="/static/image/menu.png"
                 style="width: 120px; height: 120px;">
        </div>
    </div>

    <div class="main_mid">
        <div id='calendar'></div>
    </div>

    <div class="main_bot">
        <div class="bot_left"><img class="bimg_left" src="/static/image/woman.png"></div>
        <div class="bot_right"><a href="http://localhost:8081/web/main.do"><img class="bimg_right"
                                                                                src="/static/image/gym2.png"></a></div>
    </div>

</div>
<script type="text/javascript" th:inline="javascript">
    const log = console.log;
    /*<![CDATA[*/
    var exinfoList =/*[[${session.calendarInfo}]]*/;
    var userinfo =/*[[${session.user}]]*/;
    /*]]*/
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        events: [],
        eventClick: function (info){
            var dateSettings = { "year": "numeric", "month": "2-digit", "day": "2-digit"};
            var rentdate = calendar.formatDate(info.event.start,  dateSettings);

            rentdate = rentdate.replace("/","-");
            rentdate = rentdate.replace("/","-");
            year = rentdate.substr(6,9);
            MD = rentdate.substr(0,5);
            var resultDay = year+"-"+MD;
            const json = JSON.stringify(userinfo);
            $.ajax({
                url: "/user/calendar-info",
                type: "POST",
                data: JSON.stringify({"user" : userinfo, "exDay" : resultDay}),
                dataType: "JSON",
                contentType:"application/json; charset=UTF-8",
                success: function (result) {
                    var html1;
                    console.log(result);
                    $.each(result, (index, obj) => {
                        html1 += "<div class = 'modal2_top'>";
                        html1 += "<div class='modal2_top_top'>";
                        html1 += "<div class = 'modal2_top_left'>";
                        html1 += "<div id='NSK_font'><b>" + obj.exName + "</b></div></div>";
                        html1 += "<div class = 'modal2_top_right'>";
                        html1 += "</div>";
                        html1 += "</div>";
                        html1 += "<div id='NSK_font' class='modal2_top_bot'>";
                        for (var i = obj.userSet; i > 0; i--) {
                            html1 += "<div class='set1'>" + (obj.userSet - (i - 1)) + "set</div><div class='set2'>" + obj.userSet + "set</div>";
                            html1 += "<div class='reps'>" + obj.exCount + "reps</div>";
                            html1 += "<div class='reps2'>" + obj.exCount + "reps</div>";

                            if (i == 1) {
                                html1 += "<div class='border'></div>";
                            }
                        }
                        html1 += "</div>";
                        html1 += "</div>";

                    })

                    $(".modal2_wrap").html(html1);

                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });


            //console.log(info.event.start)
            $('.modal2_wrap').css('display', 'block');
            $('.record_bg').css('display', 'block');

        }
    });
    calendar.render();

    for (const exinfo of exinfoList) {
        calendar.addEvent({
            id: userinfo.userId,
            start: exinfo.exDay,
            title: 150 + "kal"
        });
    }





    $('.fc-event-title-container').on('click', function () {
        $('.modal2_wrap').css('display', 'block');
        $('.record_bg').css('display', 'block');
    });

    $('.record_bg').on('click', function () {
        $('.modal2_wrap').css('display', 'none');
        $('.record_bg').css('display', 'none');
    });


</script>
</body>
</html>