.modal_wrap{
    width: 63%;
    height: 57%;
    position: relative;
    left: 50%;
    background:#FFFFFF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}


.black_bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(218, 215, 216, 0.5);
    top:0;
    left: 0;
    z-index: 1000;

    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}

.modal_main{
    position: absolute;
    top: 53%;
    left: 52%;
    width: 100%;
    height: 100%;

}

.show1 {
    opacity: 1;
    z-index: 1000;
    transition: all .5s;
}

.show1 .modal_main {
    transform: translate(-50%, -50%);
    transition: all .5s;
}
.modal_top{
    width:100%;
    height:19%;
    text-align: center;
}
.modal_admin{
    padding-left: 4%;
}
.modal_top_left{
    font-size: 50px;
    width: 33%;
    float: left;
    top: 56px;
    text-align: right;
    font-family: 'Noto Sans KR';
    padding: 76px 16px;
}

.modal_top_right{
    font-size: 40px;
    width: 60%;
    float: right;
    text-align: left;
    font-family: 'Noto Sans KR';
    padding: 82px 0px 0px 0px;
}

.modal_mid{
    position: absolute;
    width:100%;
    height:44%;
    font-size:50px;
    text-align: center;
    margin-top: 83%;
}
.modal_mid_admin {
    position: absolute;
    width: 111%;
    height: 44%;
    font-size: 50px;
    text-align: center;
    margin-top: 56%;
}
.modal_mid_mid{
    width: 119%;
    height:30%;
    padding: 0px 135px 0px 0px;
}

#modal_mid_b{
    text-align: center;
    font-size:40px;
}

.modal_mid_left{
    width:30%;
    height:100%;
    float:left;
    text-align: right;
}

.modal_mid_right{
    width:65%;
    height:100%;
    float:right;
    text-align: left;
}

#moicon{
    width: 130px;
    height: 130px;
}

.modal_bot{
    position: absolute;
    margin-top: 195%;
    width:84%;
    height:10%;
    font-size:40px;
    text-align: center;
    font-family: 'Noto Sans KR';
}
.modal_bot_admin {
    position: absolute;
    margin-top: 185%;
    width: 84%;
    height: 10%;
    font-size: 40px;
    text-align: center;
    font-family: 'Noto Sans KR';
}